<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer %>
</p>

<p>
  <strong>Table:</strong>
  <%= @order.table %>
</p>

<p>
  <strong>Waiter:</strong>
  <%= @order.waiter %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
